# Node
node_modules/
dist/
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test coverage
coverage/

# Optional build cache
.cache/